<div class="dark bg-gray-900 print:hidden">
  <!-- Navigation header hook -->
  <ng-container>
    <div class="flex items-center w-full p-4 pl-6">
      <!-- Logo -->
      <div class="flex items-center justify-center border-l-pink-600">
        <img class="w-8" src="/src/assets/images/logo/logo.svg" />
      </div>
      <!-- Components -->
      <div class="flex items-center ml-auto">
        <app-notifications></app-notifications>
        <app-user [showAvatar]="false"></app-user>
      </div>
    </div>
  </ng-container>
</div>

<div class="flex flex-col flex-auto w-full min-w-0">
  <div
    class="relative flex flex-0 items-center w-full h-16 px-4 md:px-6 z-49 shadow dark:shadow-none dark:border-b bg-card dark:bg-transparent print:hidden"
  >
    <!-- Navigation toggle button -->
    <button mat-icon-button (click)="toggleNavigation('mainNavigation')">
      <mat-icon [svgIcon]="'heroicons_outline:menu'"></mat-icon>
    </button>
    <div class="flex items-center pl-2 ml-auto space-x-5 sm:space-x-2">
      <app-language></app-language>
      <app-search></app-search>
      <app-shortcuts></app-shortcuts>
      <app-messages></app-messages>
    </div>
  </div>
</div>
